<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <br />

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/shanesfast">Shane Quick</a>, a full stack developer whose mission is to help the world through innovation and kindness.
  </p>
  <p>
    He started messing around with code when he was in middle school playing MapleStory. He wanted to make his own private server, so he downloaded MySQL and a text editor to mess with C# and did so. Years passed before he started to educate himself in early 2018 on how to become a fullstack developer. Now his journey continues each day, making projects and learning about various languages, systems, and paths in this wonderfully fast-paced field of study.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <br />

  <div class="row">
    <div class="col-12 col-sm-5">
      <%= image_tag 'shane.JPG', class: 'img-fluid' %>
      <h2 class="text-center">Shane Quick</h2>
    </div>

    <div class="col-12 col-sm-7">
      <p>
        Shane Quick is a brother, a friend, a musician and a dreamer. He is forging his way in this world, leaving behind many different careers in his discovery of what he truly wants to be. He has managed a small internet dsepartment for a local music store. He has built medical optical fibers for invasive surgery, and helped the engineering department create documentation for new developments. He has helped the general public secure funding for personal reasons, autos, watercraft, and home equities. He will continue to grow and have fun while doing so!
      </p>
    </div>
  </div>

  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>
